<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/element-ui/1.4.6/theme-default/index.css">
</head>
<body>
<div id="app"></div>

<script src="/public/vendor/vendor.dll.js"></script>

<script type="text/javascript" src="/public/common/build.js?7e919845"></script><script type="text/javascript" src="/public/register/build.js?e70c345a"></script></body>
</html>