<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/element-ui/1.4.6/theme-default/index.css">
</head>
<body>
<div id="app"></div>
<% if (process.env.NODE_ENV === 'production') { %>
<script src="/public/vendor/vendor.dll.js"></script>
<% } else { %>
<script src="/public/vendor/vendor.dll.dev.js"></script>
<% } %>
</body>
</html>